<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de votre mot de passe {{ app_name }}</title>
    <style>
        .text-center {
            text-align: center;
        }
        .btn, .btn:active,.btn:visited,.btn:focus,.btn:hover
         {
            text-transform: uppercase;
            padding: 1.5em 3em;
            background-color: orange;
            color: #fff;
            font-weight: 600;
            border-radius: 2px;
        }
        .my-4 {
            margin : 5px 0;
        }
    </style>
</head>
<body>
    <p>Bienvenue sur {{ app_name }}, {{ user.fname }}</p>
    <p>
        Vous avez demandé à réinitialiser votre mot de passe.
    </p>
    <p>
        Pour cela, cliquez sur le bouton ci dessous (il expire dans 24h).
    </p>
    <div class="my-4 text-center">
        <a href="{{ absolute_url('reset_password',{'token' : user.resetPasswordToken.value }) }}" class='btn'>
            Réinitialiser mon mot de passe
        </a>
    </div>
    <p>
        Si vous n'êtes pas à l'origine de cette action, veuillez tout simplement ignorer 
        ce mail.
    </p>
</body>
</html>