{% extends "base.html.twig" %}
{% block title %}Renvoyez le lien d'activation {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 me-auto ms-auto">
                <h1 class="pb-2 mb-2 text-center border-bottom fs-5">
                    Renvoi du lien d'activation
                </h1>
                {% include "tools/_flash.html.twig" %}
                <form action="{{ path('resend_email_activation') }}" method="POST">
                    <div class="mb-2">
                        <label for="email">Votre adresse email</label>
                        <input type="email" class="form-control" required name="email"/>
                        <input type="hidden" name="token" value="{{ csrf_token('activate') }}">
                    </div>
                    <div class="gap-2 mb-2 d-grid">
                        <button class="btn btn-primary" type="submit">Renvoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}