{% extends "base.html.twig" %}
{% block title %}Réinitialiser mon mot de passe {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 me-auto ms-auto">
                <h1 class="pb-2 mb-2 text-center border-bottom fs-5">
                    Réinitialiser mon mot de passe
                </h1>
                {% include "tools/_flash.html.twig" %}
                <form action="{{ path('resetPasswordLink') }}" action="POST">
                    <label for="email">Votre adresse mail</label>
                    <input type="email" name="email" class="form-control" required/>
                    <input type="hidden" value="{{ csrf_token('reset') }}" name="token">
                    <div class="gap-2 mb-2 d-grid">
                        <button class="btn btn-primary" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}