{% extends "base.html.twig" %}
{% block title %}
  Accueil
{% endblock %}
{% block body %}
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">This is home</div>
        </div>
    </div>
{% endblock %}