<footer>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li class="fw-bold">Plan du site</li>
            <li><a href="{{ path("home") }}">Accueil</a></li>
            <li><a href="#">Qui sommes nous</a></li>
            <li><a href="#">Devenir hôte</a></li>
            <li><a href="{{ path("bike_create") }}">Inscrire ma moto</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="relative h100 text-end">
            <div class="v-bottom h-right">F &nbsp; L</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            {{ app_name }} &bull; {{ 'now'|date("Y") }} &bull; Propulsé par <a href="https://dw-digital.dreamwpro.com/">Dreamwpro</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>